body {
  padding-top: 60px;
  background-color: black;
  color: white;
}

.main-pic {
  width: 40vw;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-input {
  width: 20vw;
  color: black;
}

.sort-select {
  width: fit-content;
  color: black;
}