{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="text-center">
    <h1>About The Movie Database</h1>
    <img
      src="{{ url_for('static', filename='movie_crowd.jpeg') }}"
      alt="People at a movie"
      class="main-pic"
    />
    <p class="lead">
      Hi! This is a movie database created with Flask and Bootstrap.
    </p>
  </div>
  <div class="flex-row-spaced">
    <h3 id="movieCount"></h3>
    <h3 id="actorCount"></h3>
  </div>
  <div class="flex-column-center">
    <h3 id="genreCount"></h3>
    <ul id="genreList"></ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
  homePageHandler();
</script>
{% endblock %}
