{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="text-center">
    <h1>About The Movie Database</h1>
    <img
      src="{{ url_for('static', filename='movie_crowd.jpeg') }}"
      alt="People at a movie"
      class="main-pic"
    />
    <p class="lead">
      Hi! This is a movie database created with Flask and Bootstrap.
    </p>
  </div>
  <ul id="moviesInfo"></ul>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
  homePageHandler();
</script>
{% endblock %}
